* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.editing i{
    font-size: 20px;
    color: #fbfaff;
    margin-left: 10px;
}

.bar {
    height: 50px;
}

.change {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    border: 2px solid #bf99f2;
    color: #fbfaff;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 6px;
}

.change:active {
    background-color: #fbfaff;
    color: blueviolet;
    border: 3px solid #bf99f2;
}

.change:hover {
    border: 3px solid #bf99f2;
}

/* .error {
    background-color: #ffd2d6;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
}

.error h5 {
    color: darkred;
} */

.green {
    background-color: #c1fba4;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}

.green h5 {
    color: darkgreen;
}

.error-message{
    color: darkred;
    font-size: 13px;
}